*{
    box-sizing: border-box;}

body{
    font-family: Gotham SSm A, Gotham SSm B, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-top: 0;
    padding: 0;
}
.navbar{
    background-color: #022844;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 12px; 
    padding: 10px 20px; 
    padding-bottom:0px;
    font-weight: 40;
   
}
.search-container{
    display: flex;
    align-items: center;
    gap: 180px;
    justify-content: baseline;
}
.search-text{
    text-decoration: none;
    color: #fff;
    text-align:center; 
    position: relative
}
.search-icon{
    text-decoration: none;
    color: #fff;
    font-size: medium;
    font-weight:normal;
    opacity: 0.75;

}
.help{
    text-decoration: none;
    color: #fff;
    padding-left: 1%;
    padding-right: 1%;
}
.header{
     text-align: center;
     position: relative; 
     margin-top: 60px;
}
.logo{
    width: 250px;}
.cart{
    text-decoration: none;
    color: #fff;
    padding-left: 1%;
    font-size: medium;
}
.nav-ship{
    display:flex;
    align-items: center;
    gap:5px; 
    padding:1%  
}
.sign-in{
    text-decoration: none;
    color: #fff;
    padding-left: 1%;
    padding-right: 1%;

}
#pak{
    margin-left: 0px;
    padding-left: 0px;
    width: 20px;
    display: block; 
 
}
#banner{
    flex: 1; 
    text-align: center;
    font-size: 12px;
    font-weight: 40;
}
.mainmenu{
    background-color: #fff;
    position: sticky; 
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;

}
#main-menu{
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 14px;
    
}
#main-menu li{
    position: relative;
    padding: 10px 15px;
}
#main-menu a {
    text-decoration: none;
    color: gray;
    font-weight: lighter;
    transition: color 0.3s;
}
img{
    width:30px;
}
.has-dropdown{
    position: relative;
}
.dropdown{
    display: flex;
    position: absolute;
    left: -30px;
    gap:10px;
    background-color: aqua;
    display: none;
}
.has-dropdown:hover .dropdown{
    display: block;
}
.join-family {
    text-align: center;
    padding: 50px 20px;
    background-color: #f8f8f8;
}

.join-family h5 {
    font-style: italic;
    font-size: 22px;
    color:#022844;
    display: block;
    font-size: 22px;
    font-style: italic;
    font-family: Libre Baskerville, Times New Roman, serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.family-convincing {
    max-width: 600px;
    margin: 10px auto;
    font-size: 16px;
    color: #022844;/* Adjust for readability */
    line-height: 1.5;
}

/*.join-family a {
    display: inline-block;
    padding: 12px 30px;
    background-color: #022844;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    border-radius: 5px;
    transition: 0.3s ease;
}*/

.register-btn{
    display: inline-block;
    padding: 12px 30px;
    background-color: #022844;
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 40px;

}

