html{
    overflow-x: hidden;
}
*{
    box-sizing: border-box;}

body{
    font-family: Gotham SSm A, Gotham SSm B, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-top: 0;
    padding: 0;
    width: 100vw;
}
.navbar{
    background-color: #022844;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 8px;
    width: 100vw;
    letter-spacing:0.01pc ;
    padding-bottom: -20px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    
}

.search-container{
    display: flex;
    align-items: center;
    gap: 180px;
    justify-content: baseline;
    background-color: #022844;
    
    
}
.search-text{
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    text-align:center; 
    position: relative;
    background-color: #022844;
}
.search-icon{
    text-decoration: none;
    color: #fff;
    font-size: medium;
    font-weight:normal;
    opacity: 0.75;


}
.help{
    text-decoration: none;
    color: #fff;
    padding-left: 1%;
    padding-right: 1%;
    
}
.header{
     text-align: center;
     position: relative; 
     margin-top: 20px;
     margin-bottom: 30px;
}
.header .logo{
    margin-top: 40px;
    width: 250px;}
.cart{
    text-decoration: none;
    color: #fff;
    padding-left: 1%;
    font-size: medium;
    margin-right:10px;
}
.nav-ship{
    display:flex;
    align-items: center;
    gap:5px; 
    padding:1%  
}
.sign-in{
    text-decoration: none;
    color: #fff;
    padding-left: 1%;
    padding-right: 1%;

}
#pak{
    margin-left: 0px;
    padding-left: 0px;
    width: 20px;
    display: block; 
 
}
#banner{
    flex: 1; 
    text-align: center;
    font-size: 8px;
    font-weight: lighter;
}

.task-list {
    margin: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .task {
    width: 100%;
    background: #f7f7f7;
    border: 1px solid #d1dbe5;
    padding: 15px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
  }
  
  .task:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
    transform: translateY(-2px);
  }
  
  .task h2 {
    margin: 0;
    font-size: 16px;
    color:#022844;

    font-weight:bolder;
  }
  
  .task button {
    padding: 8px 16px;
    background-color: #022844;
    color: #fff;
    border: none;
    border-radius: 16px;
    width: 70px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-shrink: 0;
  }
  
  .task button:hover {
    background-color: #0e4f7d;
  }
  
  iframe {
    width: calc(100% - 80px);
    margin: 40px;
    height: 500px;
    border-radius: 12px;
    border: 1px solid #d1dbe5;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
  }
  