<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>turnbullandasser</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
   <link rel="stylesheet" href="/stylesheets/homepage.css">


</head>

<body>
    <div class="footer-div">
        <ul id="footer-menu">
            <li class="footer">CUSTOMER SERVICE
                
                <ul class="customer-footer">
                    <hr>
                    <li>ONLINE ENQUIRIES CALL</li>
                    <li>+44 (0)20 7808 3138</li>
                    <li><a class="contact" href="">CONTACT US</a></li>
                    <li><a class="careers" href="">CAREERS</a></li>
                <li><a class="create-account" href="">CREATE AN ACCOUNT</a></li>  
                </ul>
            </li>
            <li class="footer">SUPPORT
                
                <ul class="support-footer">
                    <hr>
                     <li><a href="">PAYMENTS & DELIVERY</a></li>
                     <li><a href="">RETURNS & REFUNDS</a></li>
                     <li><a href="">PRODUCTS & SERVICES</a></li>
                     <li><a href="">FAQS</a></li>
                     <li><a href="">SIZE GUIDE</a></li>
                     <li><a href="">GARMENT CARE</a></li>
                </ul>
            </li>
            <li class="footer">LEGAL
                
                <ul class="legal-footer">
                     <hr>
                     <li><a href="">TERMS & CONDITIONS OF SALE</a></li>
                     <li><a href="">PRIVACY</a></li>
                     <li><a href="">COOKIE POLICY</a></li>
                     <li><a href="">TERMS & CONDITIONS OF USE</a></li>
                     <li><a href="">CORPORATE</a></li>
                     <li><a href="">ACCESSIBILITY</a></li>
                     <li><a href="">SUSTAINABILITY</a></li>
                </ul>
            </li>
            <li class="footer">STORE FINDER
                
                <ul class="store-footer">
                    <hr>
                    <li>LONDON
                        <ul class="london-locations">
                            <li><a href="">JERMYN STREET</a></li>
                            <li><a href="">BURY STREET</a></li>
                            <li><a href="">DAVIE STREET</a></li>
                        
                             
                        </ul>
                    </li>
                    <li>NEW YORK
                        <ul class="london-locations">
                            <li><a href="">50 STREET 57TH STREET</a></li>    
                        </ul>
                    </li>
                    
            </li>
        </ul>
        <li class="footer">FOLLOW US 
            
            <ul class="follow-footer">
                <hr>
                 <li><a href="https://twitter.com/Turnbull_Asser"><i class="fa-brands fa-x-twitter"></i></a></li>
                 <li><a href="https://www.instagram.com/turnbull_asser/"><i class="fa-brands fa-instagram"></i></a></li>
                 <li><a href="https://www.facebook.com/turnbullandasser/"><i class="fa-brands fa-facebook"></i></a></li> 
                 <li><a href="https://uk.pinterest.com/turnbullandasser/"><i class="fa-brands fa-pinterest"></i></a></li> 
                 <li><a href="https://turnbullandasser.co.uk/pages/kings-trust"><img class="kings-trust"src="images/kingtrust.webp"></a></li>
             </ul>
         </li>
    </div>
</body>
</html>